<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="">Plant Tracker</a>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Plants
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="plants/add-plant">
				<span class="oi oi-plus" aria-hidden="true"></span> Add Plant
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="admin/reset-database">
				<span class="oi oi-plus" aria-hidden="true"></span> Reset Database
			</NavLink>
		</div>
				<div class="nav-item px-3">
			<NavLink class="nav-link" href="admin/test">
				<span class="oi oi-plus" aria-hidden="true"></span> test
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
