@page "/"
@inject PlantVmService _plantVm
@inject IImageService _image
@inject IDialogService _dialog

@if(_plants != null)
{
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <table class="table table-sm table-striped table bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var plant in _plants)
                    {
                        <tr>
                            <td><img src="@_image.DecodeImage(plant.Photo, "image/jpeg")" /></td>
                            <td>@plant.Name</td>
                            <td>@plant.Location</td>
                            <td><a href="plants/view-plant/@plant.PlantId">view</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p>Something went wrong with the database :(</p>
}

@code
{
    private IEnumerable<PlantVm> _plants;

    protected override async Task OnParametersSetAsync()
    {
        try {
            _plants = await _plantVm.GetAll(300);
        }
        catch(Exception ex)
        {
            await _dialog.DisplayConfirm("Error", ex.Message, "Ok");
        }
    }
}